
.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.film-title {
    position: relative;
}

.film-title::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.film-title.loaded::before {
    transform: scaleX(1);
}